*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Projekat_JSF_Hotel/nbproject/private/
/Projekat_JSF_Hotel/build/
/JSF_Hotel/nbproject/private/
/JSF_Hotel/web/resources/images/uploads/
/WebApplication1/nbproject/private/