html,body {
    
   
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    color: white !important;  
    
    
    
}
.slika{
    filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1000;
    background-image: url("/JSF_Hotel/resources/images/SnowResort.jpg");
    background-position: center;
    background-repeat: no-repeat;
   
    background-attachment: fixed;
}


h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
    color: white  !important;
    margin: 0 0 23px 0;
    }
h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 23px 0;
    color: white !important;
    }
p {
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}
